<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/patient/list">Patient List</a>&nbsp;|&nbsp;
		</div>
	</div>
	<div class="row"><h2>Patients</h2></div>
	<div class="row">
		<a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Family Name</th>
					<th>Given Name</th>
					<th>DoB</th>
					<th>Sex</th>
					<th>Address</th>
					<th>Phone</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="patient : ${patients}">
				<td style="width: 10%" th:text="${patient.patientId}"></td>
				<td th:text="${patient.familyName}"></td>
				<td th:text="${patient.givenName}"></td>
				<td th:text="${patient.dob}"></td>
				<td th:text="${patient.sex}"></td>
				<td th:text="${patient.address}"></td>
				<td th:text="${patient.phone}"></td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/patient/view/{id}(id=${patient.patientId})}">View</a>&nbsp;|
					<a th:href="@{/patient/update/{id}(id=${patient.patientId})}">Edit</a>&nbsp;|&nbsp;
					<a th:href="@{/patient/delete/{id}(id=${patient.patientId})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>