<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Patient</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/patient/update/{id}(id=${patient.patientId})}" th:object="${patient}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="familyName" class="col-sm-2 control-label">Family Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{familyName}" id="familyName" placeholder=${patient.familyName} class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('familyName')}" th:errors="*{familyName}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="givenName" class="col-sm-2 control-label">Given Name</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{givenName}" id="givenName" placeholder=${patient.givenName} class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('givenName')}" th:errors="*{givenName}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="dob" class="col-sm-2 control-label">Date of Birth</label>
				<div class="col-sm-10">
					<input type="date" th:field="*{dob}" id="dob" placeholder=${patient.dob} class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="sex" class="col-sm-2 control-label">Sex</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{sex}" id="sex" placeholder=${patient.sex} class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="address" class="col-sm-2 control-label">Address</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{address}" id="address" placeholder=${patient.address} class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="col-sm-2 control-label">Phone</label>
				<div class="col-sm-10">
					<input type="text" th:field="*{phone}" id="phone" placeholder=${patient.phone} class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<input type="hidden" th:field="*{patientId}">
					<a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Update Patient">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>