<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>View Patient</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/patient/list">Patient List</a>&nbsp;|&nbsp;
            <a th:href="@{http://{url}/patient/note/list(url=${urlNote})}">Patient Notes</a>
        </div>
    </div>
    <div class="row">
        <h2>View Patient</h2>
    </div>

    <div class="row">
        <form action="#" class="form-horizontal" style="width: 100%">
            <div class="form-group">
                <label class="col-sm-2 control-label"><h4>Patient ID:</h4></label>
                <td style="width: 10%" th:text="${currentPatient.patientId}" class="col-4"></td>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h4>Family Name:</h4></label>
                <td style="width: 10%" th:text="${currentPatient.familyName}" class="col-4"></td>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h4>Given Name:</h4></label>
                <td style="width: 10%" th:text="${currentPatient.givenName}" class="col-4"></td>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h4>Date of Birth:</h4></label>
                <td style="width: 10%" th:text="${#dates.format(currentPatient.dob, 'dd-MM-yyyy')}" class="col-4"></td>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h4>Sex:</h4></label>
                <td style="width: 10%" th:text="${currentPatient.sex}" class="col-4"></td>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h4>Address:</h4></label>
                <td style="width: 10%" th:text="${currentPatient.address}" class="col-4"></td>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"><h4>Phone:</h4></label>
                <td style="width: 10%" th:text="${currentPatient.phone}" class="col-4"></td>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/patient/list">Back</a>
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</body>
</html>