<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Mediscreen </title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<img src="/images/logomin.png" class="rounded mx-auto d-block" alt="Welcome to Mediscreen" th:src="@{/images/logomin.png}">
<h3 class="text-center"> Welcome to Mediscreen </h3>
<p class="text-center">
    Manage patients: <a href="/patient/list">patients</a><br>
    Manage patient notes: <a th:href="@{http://{url}/patient/note/list(url=${urlNote})}">notes</a>
</p>
</body>
</html>